/foremail/bin/System.Web.DataVisualization.Design.dll
/foremail/bin/System.Web.DataVisualization.dll
/foremail/CarWashManager.suo
/foremail/bin/AjaxControlToolkit.pdb
/foremail/bin/AjaxMin.dll
/foremail/bin/CarWashManager.pdb
/foremail/bin/HtmlAgilityPack.dll
/foremail/bin/ar/AjaxControlToolkit.resources.dll
/foremail/bin/cs/AjaxControlToolkit.resources.dll
/foremail/bin/de/AjaxControlToolkit.resources.dll
/foremail/bin/es/AjaxControlToolkit.resources.dll
/foremail/bin/fr/AjaxControlToolkit.resources.dll
/foremail/bin/he/AjaxControlToolkit.resources.dll
/foremail/bin/hi/AjaxControlToolkit.resources.dll
/foremail/bin/it/AjaxControlToolkit.resources.dll
/foremail/bin/ja/AjaxControlToolkit.resources.dll
/foremail/bin/ko/AjaxControlToolkit.resources.dll
/foremail/bin/nl/AjaxControlToolkit.resources.dll
/foremail/bin/pl/AjaxControlToolkit.resources.dll
/foremail/bin/pt/AjaxControlToolkit.resources.dll
/foremail/bin/ru/AjaxControlToolkit.resources.dll
/foremail/bin/tr-TR/AjaxControlToolkit.resources.dll
/foremail/bin/zh-CHS/AjaxControlToolkit.resources.dll
/foremail/bin/zh-CHT/AjaxControlToolkit.resources.dll
/foremail/obj/Debug/CarWashManager.pdb
/foremail/obj/Debug/ResolveAssemblyReference.cache
